body{
  min-height:100vh;
  position: relative;
}

footer{
  background-color: rgb(248,249,250);
  position:absolute;
  bottom: -80px;
}
.aboutUs{
  background:rgba(240, 240, 240,0.5);
  padding:20px;
  border-radius: 10px;
}
.contact{
  background:rgba(240, 240, 240,0.5);
 max-width:450px;
 }
